{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
  	$(".delete").click(function(evt){
	    evt.preventDefault();
	    var task_id = $(this).attr('id');
	    $.ajax({
	        url: "/task/" + task_id+ "/delete",
	        type: "GET",
	        dataType: "JSON",
	        success:function(resp){
	            if(resp.status != 1 ){
	                // 不等于 1 则说明删除失败，原因有很多，具体呢，就是服务端返回的 resp.message
	                alert("删除失败，原因："+ resp.message);
	            }
	            
	            // resp.status 等于 1 时，则说明成功，前端处理，此处为重新加载本页。
	            location.reload()
        	}
        })	
    })
})
</script>
<table>
<tr>
  <td>任务</td>
  <td>管理</td>
</tr>
{% if schedules %}
{% for schedule in schedules %}
<tr>
  <td>{{schedule.task}}</td>
  <td><a href="#" class="delete" id={{schedule.id}}>删除</a></td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}